@use "../styles/partials/variables" as *;
.ms_track {
    min-width: $playlist-show-main-min-width;
    cursor: pointer;
    &:hover {
        background-color: #191922;
    }
    .image-wrapper {
        position: relative;
    }
}